<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>

  </title>
  <link rel="stylesheet" type="text/css" href="navbar.css" />
  <link rel="stylesheet" type="text/css" href="sectionOne.css" />
  <link rel="stylesheet" type="text/css" href="section2.css" />
  <link rel="stylesheet" type="text/css" href="section3.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="extra.css" />
  <link rel="stylesheet" href="footer.css" />


  <!--yaha se stock wla material-->
  <meta http-equiv="content-type" content="text-html; charset=utf-8" />

  <script type="text/javascript" src="../jsc/jscharting.js"></script>

  <script type="text/javascript" src="../jsc/modules/toolbar.js"></script>

  <link rel="stylesheet" type="text/css" href="css/default.css" />
  <link rel="stylesheet" href="chart.css" />
  <style></style>
  <!--yaha tak-->
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:ital,wght@1,300&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

</head>

<body>

  <!-- navbar  -->
  <div class="navbar">
    <div class="logo ">
      <img class="logo-img" src="Logo.png" alt="photo">
    </div>

    <div class="navbar-headings">
      <ul>
        <li><a href="#"> About</a></li>
        <li><a href="#"> Contact us</a></li>
        <li><a href="#">lorem</a></li>
        <li><a href="mailto:kartikey000k@gmail.com">Email us</a></li>

      </ul>
    </div>
    <div class="navbar-button">
      <a href="signUp.html"><button class="green-button inter">Login/Signup</button></a>
    </div>
  </div>
  <!--navbarEnd-------------------------------------------->


  <!-- section1 ------------------------------------------->
  <div class="section1">
    <div class="section1-1">

      <div class="section1-tag">
        <!-- <div class="analyse-invest">
                    <div class="semi-bold">Analyse,</div>
                    <div class="green">Invest</div>
                </div>
                <div class="grow-boom">
                    <div class="green">Grow</div> <div class="semi-bold">BOOM</div>
                </div> -->
        <p class="analyse-invest">
          Analyse,<strong class="green">Invest</strong> <br>
          <strong class="green">Learn</strong> grow <img class="svg" src="arrow.svg" alt="scg">
        </p>

        <p class="section1-small-text"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae optio illum minus at itaque sint laboriosam rerum repellendus officia consequatur facilis quia quidem ipsam repellat</p><br>
        <a href="signUp.html"><button class="contact-button inter">Get started</button></a>
      </div>

    </div>
    <div class="section1-2">
      <img class="stockchart-img" src="stockchart1.png" alt="photo">
    </div>
  </div>
  <!-- section1 ends ----------------------------------------------->
  <div class="separation"></div>
  <!-- section2 ---------------------------------------------------->
  <div class="section2">

    <div class="section2-1">
      <img div="company-img" src="nse_unit.png" alt="nse">
    </div>

    <div class="section2-2">
      <div class="section2-tag">
        <!-- <div class="analyse-invest">
                    <div class="semi-bold">Analyse,</div>
                    <div class="green">Invest</div>
                </div>
                <div class="grow-boom">
                    <div class="green">Grow</div> <div class="semi-bold">BOOM</div>
                </div> -->
        <p class="see-latest">
          See <strong class="green">Latest</strong> <br>
          <strong class="green">NSE </strong> trends <img class="svg" src="arrow.svg" alt="scg">
        </p>

        <p class="section2-small-text"> The National Stock Exchange (NSE) is the leading stock exchange in India and the fourth largest in the world by equity trading volume in 2015, according to World Federation of Exchanges (WFE)</p><br>
        <br>
        To see latest nse trends click below!<br>
        <br>
        <a href="#chartDiv"><button class="click-here inter">Click here</button></a>
      </div>
    </div>


  </div>
  <!-- -section2 ends -->
  <div class="separation"></div>
  <!--section3 starts----------------------------------------------->
  <div class="section3">
    <div class="section3-1">
      <div class="section3-tag">
        <!-- <div class="analyse-invest">
                    <div class="semi-bold">Analyse,</div>
                    <div class="green">Invest</div>
                </div>
                <div class="grow-boom">
                    <div class="green">Grow</div> <div class="semi-bold">BOOM</div>
                </div> -->
        <p class="see-latest">
          See <strong class="green">Latest</strong> <br>
          <strong class="green">BSE </strong> trends <img class="svg" src="arrow.svg" alt="scg">
        </p>

        <p class="section3-small-text"> The Bombay Stock Exchange (BSE) is the first and largest securities market in India and was established in 1875 as the Native Share and Stock Brokers' Association. Based in Mumbai, India, the BSE lists close to
          6,000 companies and is one of the largest exchanges in the world</p><br>
        <br>
        To see latest bse trends click below!
        <br>
        <br>
        <button class="click-here inter">Click here</button>
      </div>
    </div>
    <div class="section3-2">
      <img class="margintop100" src="bse_unit.png" alt="bse">
    </div>
  </div>
  <!--section3 ends---------------------------------------------------->
  <div class="separation"></div>
  <!--company------------------------------------------------------->
  <div class="section2">

    <div class="section2-1">
      <img div="company-img" style="width: 67% ;padding-top:20px " src="company-data.jpg" alt="nse">
    </div>

    <div class="section2-2">
      <div class="section2-tag">
        <!-- <div class="analyse-invest">
                   <div class="semi-bold">Analyse,</div>
                   <div class="green">Invest</div>
               </div>
               <div class="grow-boom">
                   <div class="green">Grow</div> <div class="semi-bold">BOOM</div>
               </div> -->
        <p class="see-latest">
          See <strong class="green">Latest</strong> <br>
          <strong class="green">Company </strong> trends <img class="svg" src="arrow.svg" alt="scg">
        </p>

        <p class="section2-small-text"><img class="svg1" src="feature1.svg" alt="svg" /><strong class="upward">Experience the cutting-edge features of the latest company trends</strong><br><br>
          <img class="svg1" src="brain1.svg" alt="brain" /><strong class="upward"> Helping here you to invest wisely </strong>
        </p><br>
        <br>

        <br>
        <button class="click-here inter" onclick="window.location.href = 'http://localhost:3000/chart1';">ashokleyland</button>
        <button class="click-here inter" onclick="window.location.href = 'http://localhost:3000/chart2';">cipla</button>
        <button class="click-here inter" onclick="window.location.href = 'http://localhost:3000/chart3';">eicher</button>
        <button class="click-here inter" onclick="window.location.href = 'http://localhost:3000/chart4';">Reliance</button>
        <button class="click-here inter" onclick="window.location.href = 'http://localhost:3000/chart5';">tatasteel</button>

      </div>
    </div>
  </div>
  <!--company end------------------------------------------------>

  <div class="separation "></div>

  <div class="section3 margintop5vw">
    <div class="section3-1 chart1">
      <div class="section3-tag padding-top0">

        <p class="see-latest">
          Select <strong class="green">what</strong> <br>
          <strong class="green">You </strong> wants <img class="svg" src="arrow.svg" alt="scg">
        </p>

        <!-- <p class="section3-small-text"> The Bombay Stock Exchange (BSE) is the first and largest securities market in India and was established in 1875 as the Native Share and Stock Brokers' Association. Based in Mumbai, India, the BSE lists close to 6,000 companies and is one of the largest exchanges in the world</p><br> -->
        <button type="button" name="button">NSE</button>
        <button type="button" name="button">BSE</button>

        <br>
        To see latest bse trends click below!
        <br>
        <br>
      </div>
    </div>
    <div class="section3-2 chart2">
      <div id="chartDiv"></div>
    </div>
  </div>
  <!-- -footer--------------------------------------------------->
  <div class="foo-ter">
    <footer class="footer">
      <div class="footer__addr">
        <h1 class="footer__logo"><img src="Logo.png" alt="logo"></h1>

        <h2>Contact</h2>

        <address>
          Amber 123 dhanbad IIT ISM<br>

          <a class="footer__btn" href="mailto:kartikey000k@gmail.com">Email Us</a>
        </address>
      </div>

      <ul class="footer__nav">
        <li class="nav__item">
          <h2 class="nav__title">Media</h2>

          <ul class="nav__ul">
            <li>
              <a href="#">Online</a>
            </li>

            <li>
              <a href="#">Print</a>
            </li>

            <li>
              <a href="#">Alternative Ads</a>
            </li>
          </ul>
        </li>

        <li class="nav__item nav__item--extra">
          <h2 class="nav__title">Features</h2>

          <ul class="nav__ul nav__ul--extra">
            <li>
              <a href="#">Real time data </a>
            </li>

            <li>
              <a href="#">Market trends</a>
            </li>

            <li>
              <a href="#">Bombay stock exchange</a>
            </li>

            <li>
              <a href="#">National stock exchange</a>
            </li>

            <!-- <li>
                        <a href="#">Artificial Intelligence</a>
                      </li>

                      <li>
                        <a href="#">IoT</a>
                      </li> -->
          </ul>
        </li>

        <li class="nav__item">
          <h2 class="nav__title">Legal</h2>

          <ul class="nav__ul">
            <li>
              <a href="#">Privacy Policy</a>
            </li>

            <li>
              <a href="#">Terms of Use</a>
            </li>

            <li>
              <a href="#">Sitemap</a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="legal">
        <p>&copy; 2023 Something. All rights reserved.</p>

        <div class="legal__links">
          <span>Analyse invest learn grow<img class="svg" src="arrow.svg" alt="arrow" /></span>
        </div>
      </div>
    </footer>
  </div>

  <!------------------------------------------------------------------>
  <script src="https://code.jscharting.com/latest/jscharting.js"></script>
  <script type="text/javascript">
    JSC.fetch('./google.csv')
      .then(function(response) {
        return response.text();
      })
      .then(function(text) {
        var data = JSC.csv2Json(text);

        initChart(
          data.map(function(entry) {
            return {
              x: entry.Date,
              open: entry.Open,
              high: entry.High,
              low: entry.Low,
              close: entry.Close
            };
          }),
          data.map(function(entry) {
            return {
              x: entry.Date,
              y: entry.Volume
            };
          })
        );
      });

    function initChart(points, volumePoints) {
      var chart = JSC.chart('chartDiv', {
        debug: true,
        type: 'candlestick',
        axisToZoom: 'x',
        legend: {
          template: '%icon %name',
          position: 'inside top left'
        },
        palette: 1,
        yAxis: [{
            id: 'yMain',
            formatString: 'c',
            crosshair_enabled: true,
            orientation: 'opposite',
            scale: {
              range_padding: 0.1
            }
          },
          {
            id: 'yVol',
            visible: false,
            scale: {
              syncWith: 'none',
              range: {
                padding: 1.5,
                min: 0
              }
            }
          }
        ],
        xAxis: {
          scale_type: 'time'
        },
        defaultPoint_radius: 100,
        series: [{
            name: 'Volume',
            type: 'column',
            yAxis: 'yVol',
            defaultPoint: {
              opacity: 0.2
            },
            points: volumePoints
          },
          {
            yAxis: 'yMain',
            name: 'GOOGL Weekly',
            points: points
          }
        ]
      });
    }

    function tooltip(point) {
      var color = point.options('close') > point.options('open') ? 'green' : 'red';
      return (
        'Change: <span style="color:' +
        color +
        '"><b>{%close-%open}</b></span><br>Open: %open<br/>High: %high<br/>Low: %low<br/>Close: %close'
      );
    }
  </script>


</body>

</html>
